#dropdownMenuButton {
  padding: 5px 6px 6px 7px;
  font-size: 14px;
  background-color: #c32bad !important;
  color: #fff;
  border: none;
  opacity: 0.9;
  transition: 0.4s;
}

#dropdownMenuButton:hover,
#dropdownMenuButton:active,
#dropdownMenuButton:focus {
  opacity: 1;
  background-color: #c32bad !important;
  box-shadow: unset !important;
}

.dropdown-menu {
  border-radius: 0 0 0.25rem 0.25rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #c32bad !important;
  color: #fff !important;
}
